    .wra{
       width:420px;
       padding:5px;
       border:2px solid #cdcdcd;
       margin:50px auto;
    }
    .row{
      width:406px;
    }
    h1{
       font-size:24px !important;
       line-height:40px;
       color:blue;
       text-align:center;
    }
    .pass img{
      width:80px;
      height:32px;
    }
    .pass span{
       font:12px/34px "ºÚÌå";
       color:blue;
       cursor: pointer;
       user-select:none;
    }
    label{
      font:24px/30px "ºÚÌå" !important;
      margin-bottom:2px !important;
    }
    #ts p{
      font:12px/18px "ºÚÌå";
      color:red;
      margin-bottom:6px;
    }
   